In [1]:
import pandas as pd

# Read csv file
df = pd.read_csv('weather.csv')

# Display the first few rows of the dataframe
df.head()

   province  max  min  wind wind_d  rain  humidi  cloud  pressure        date
0  Bac Lieu   27   22    17    NNE   6.9      90     71      1010  2009-01-01
1  Bac Lieu   31   25    20    ENE   0.0      64     24      1010  2010-01-01
2  Bac Lieu   29   24    14      E   0.0      75     45      1008  2011-01-01
3  Bac Lieu   30   24    30      E   0.0      79     52      1012  2012-01-01
4  Bac Lieu   31   25    20    ENE   0.0      70     24      1010  2013-01-01

In [2]:
df.dtypes

province     object
max           int64
min           int64
wind          int64
wind_d       object
rain        float64
humidi        int64
cloud         int64
pressure      int64
date         object
dtype: object

In [3]:
df['date'] = pd.to_datetime(df['date'])
df.dtypes

province            object
max                  int64
min                  int64
wind                 int64
wind_d              object
rain               float64
humidi               int64
cloud                int64
pressure             int64
date        datetime64[ns]
dtype: object

In [4]:
df.isnull().sum()

province    0
max         0
min         0
wind        0
wind_d      0
rain        0
humidi      0
cloud       0
pressure    0
date        0
dtype: int64

In [5]:
provinces = df['province'].unique()
print(provinces)

['Bac Lieu' 'Ho Chi Minh City' 'Tam Ky' 'Ben Tre' 'Hoa Binh' 'Tan An'
 'Bien Hoa' 'Hong Gai' 'Thai Nguyen' 'Buon Me Thuot' 'Hue' 'Thanh Hoa'
 'Ca Mau' 'Long Xuyen' 'Tra Vinh' 'Cam Pha' 'My Tho' 'Tuy Hoa' 'Cam Ranh'
 'Nam Dinh' 'Uong Bi' 'Can Tho' 'Nha Trang' 'Viet Tri' 'Chau Doc'
 'Phan Rang' 'Vinh' 'Da Lat' 'Phan Thiet' 'Vinh Long' 'Ha Noi' 'Play Cu'
 'Vung Tau' 'Hai Duong' 'Qui Nhon' 'Yen Bai' 'Hai Phong' 'Rach Gia'
 'Hanoi' 'Soc Trang']

In [6]:
# Tạo từ điển ánh xạ các tỉnh vào các khu vực
province_to_region = {
    'Bac Lieu': 'Southern', 'Ho Chi Minh City': 'Southern', 'Tam Ky': 'Central', 'Ben Tre': 'Southern',
    'Hoa Binh': 'Northern', 'Tan An': 'Southern', 'Bien Hoa': 'Southern', 'Hong Gai': 'Northern',
    'Thai Nguyen': 'Northern', 'Buon Me Thuot': 'Central', 'Hue': 'Central', 'Thanh Hoa': 'Northern',
    'Ca Mau': 'Southern', 'Long Xuyen': 'Southern', 'Tra Vinh': 'Southern', 'Cam Pha': 'Northern',
    'My Tho': 'Southern', 'Tuy Hoa': 'Central', 'Cam Ranh': 'Central', 'Nam Dinh': 'Northern',
    'Uong Bi': 'Northern', 'Can Tho': 'Southern', 'Nha Trang': 'Central', 'Viet Tri': 'Northern',
    'Chau Doc': 'Southern', 'Phan Rang': 'Central', 'Vinh': 'Northern', 'Da Lat': 'Central',
    'Phan Thiet': 'Central', 'Vinh Long': 'Southern', 'Ha Noi': 'Northern', 'Play Cu': 'Central',
    'Vung Tau': 'Southern', 'Hai Duong': 'Northern', 'Qui Nhon': 'Central', 'Yen Bai': 'Northern',
    'Hai Phong': 'Northern', 'Rach Gia': 'Southern', 'Hanoi': 'Northern', 'Soc Trang': 'Southern'
}

# Thêm cột 'region' vào dataframe
df['region'] = df['province'].map(province_to_region)

# Hiển thị vài hàng đầu của dataframe để kiểm tra
df.head()

,province,max,min,wind,wind_d,rain,humidi,cloud,pressure,date,region
0,Bac Lieu,27,22,17,NNE,6.9,90,71,1010,2009-01-01,Southern
1,Bac Lieu,31,25,20,ENE,0.0,64,24,1010,2010-01-01,Southern
2,Bac Lieu,29,24,14,E,0.0,75,45,1008,2011-01-01,Southern
3,Bac Lieu,30,24,30,E,0.0,79,52,1012,2012-01-01,Southern
4,Bac Lieu,31,25,20,ENE,0.0,70,24,1010,2013-01-01,Southern

In [7]:
df.to_csv('weather_export.csv', index=False)